cache:
  expiration_time: 3600
clouds:
  otc:
    auth:
      auth_url: https://iam.eu-de.otc.t-systems.com:443/v3
      project_name: {{ lookup('env', 'OS_PROJECT') | default('eu-de') }} #required, since otherwise some APIs are not working
      user_domain_name: {{ lookup('env', 'OS_USER_DOMAIN_NAME') | default(omit) }}
    interface: public
    identity_api_version: 3
